body {
    overflow-x: hidden;
    overflow-y: hidden;
    height: 100%;
    margin: 0 0;
}

.main-body-wrapper {
    width: 100vw;
    height: 100vh;
    background-image: url("/assets/bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 10rem;
    padding-bottom: 5rem;
    padding-left: 10rem;

}

.wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 10%;
    padding-top: 8%;
}

.left-part h2 {
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    font-weight: 400;
    color: #444444;
    margin-bottom: -3%;
}

.left-part h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 104px;
    font-weight: 600;
    color: #444444;
    padding: 1rem 0;
    margin-top: 0px;
    margin-bottom: 0px;

}

.left-part button {
    width: 160px;
    height: 52.84px;
    left: 198px;
    top: 596.08px;
    border: none;
    background: #00ACF1;
    font-family: 'Raleway', sans-serif;
    border-radius: 8px;
    font-style: normal;
    font-size: 20px;
    /* line-height: 23px; */
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
}

.right-part img {
    width: 40rem;
    height: inherit;
    padding-right: 5rem;
}

.slide-in-right {
    -webkit-animation: slide-in-right 2s ease-out both;
    animation: slide-in-right 2s ease-out both;
}

.rotate-text {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 200;

}

svg {
    fill: #000000;
    ;
    height: auto;
    max-width: 130vmin;
    transform: rotateZ(45deg);
    transform-origin: center;
    width: 100%;
    margin-top: -10%;
    margin-left: 5%;
}


@-webkit-keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-right {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.go-back {
    -webkit-animation: slide-in-right 2s ease-out 15s reverse both;
    animation: slide-in-right 2s ease-out 15s reverse both;
}

@-webkit-keyframes go-back {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes go-back {
    0% {
        -webkit-transform: translateX(500px);
        transform: translateX(500px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}

.become {
    -webkit-animation: become .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
    animation: become .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s both;
}

@-webkit-keyframes become {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes become {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.ninja {
    -webkit-animation: ninja .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
    animation: ninja .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 1.5s both;
}

@-webkit-keyframes ninja {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ninja {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.kill_web {
    -webkit-animation: kill_web .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
    animation: kill_web .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 2s both;
}

@-webkit-keyframes kill_web {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes kill_web {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.back_kill_web {
    -webkit-animation: back_kill_web .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15s reverse both;
    animation: back_kill_web .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15s reverse both;
}

@-webkit-keyframes back_kill_web {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes back_kill_web {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.back_ninja {
    -webkit-animation: back_ninja .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15.5s reverse both;
    animation: back_ninja .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 15.5s reverse both;
}

@-webkit-keyframes back_ninja {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes back_ninja {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

.back_become {
    -webkit-animation: back-become .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 16s reverse both;
    animation: back-become .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) 16s reverse both;
}

@-webkit-keyframes back-become {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes back-become {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}

svg {
    -webkit-animation: svg 16s ease-in-out 0s both reverse;
    animation: svg 16s ease-in-out 0s both reverse;
}

@-webkit-keyframes svg {
    0% {
        -webkit-transform: rotate(200deg);
        transform: rotate(200deg);
    }

    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}

@keyframes svg {
    0% {
        -webkit-transform: rotate(200deg);
        transform: rotate(200deg);
    }

    100% {
        -webkit-transform: rotate(540deg);
        transform: rotate(540deg);
    }
}